.login-page {
    height: 100%;
    background-image: url("https://ai-7.oss-cn-beijing.aliyuncs.com/door.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    color: #4096FF !important;
    box-sizing: border-box;

    main {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .col {
            height: 20px;
            display: flex;
            width: 100%;
            margin-top: 15px;
            align-items: center;
            color: red;

            div {
                display: flex;
                height: 100%;
                align-items: center;
                font-size: 12px;
            }

            input {
                outline: navy;
                height: 100%;
                font-size: 12px;
                flex: 1;
                border: 1px solid red;
                padding:0 10px;
                border-radius: 5px;
                color: rgb(245, 9, 9);
                background-color: rgb(222, 222, 222, 0.3);
            }

            button{
                border:1px solid red;
                background-color: #4096FF30;
                color:red;
                font-size: 12px;
                height: 50px;
                width: 50px;
                margin-top: 50px;
                border-radius: 50%;
                padding:0 20px;
                align-self: center;
                align-items: center;
            }
        }
    }
}